@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
.dementor-bg {
    background-image: url("./img/Dementors.jpg");
    background-size: cover;
    background-position: center;
}
.text-purple {
    color: rgb(174, 125, 219);
}
.bg-purle {
    background-color: rgb(174, 125, 219);
}
.text-shadow {
    text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 1.0);
}
.text-mark-dark {
    background-color: rgba(174, 125, 219, 0.8);
    display: inline;
}